<img data-bind="attr: {src: 'http://127.0.0.1:27100/stream/' + settingsViewModel.settings.plugins.ARPrintVisualizer.stream()}"></img>



<div class="button-container">
	<button id="detection" class="btn" data-bind="disable: isErrorDetected(), click: toggleDetection, css : { 'btn-success': !isDetecting(), 'btn-danger': isDetecting() }">
		Start Error Detection
	</button>
</div>
<div class="button-container">
	<button id="resume" class="btn btn-primary" data-bind="enable: isErrorDetected(), click: resume">
		Resume without Patch
	</button>
</div>
<div class="button-container">
	<button id="patchResume" class="stop btn btn-primary" data-bind="enable: isErrorDetected(), click: patchResume">
		Insert Patch and Resume
	</button>
</div>

jjavkja;ashgd
<br />


<img src="/plugin/ARPrintVisualizer/static/img/pic.png">

<div class="span7">
            <h1>{{ _('Model info') }}</h1>
            <p data-bind="html: ui_modelInfo"></p>

            <h1>{{ _('Layer info') }}</h1>
            <p data-bind="html: ui_layerInfo"></p>
</div>

<p><b>Filename:</b> 'C:/home/file.gcode'</p>
<p><b>Layer:</b> 5</p>
<p><b>Status:</b> printing/pausing/moving nozzle out/taking a picture/detecting errors</p>
<p><b>% Similarity:</b> 25</p>
<p><b>Failure:</b> YES</p>
<p><b>Failure area:</b> 42 mm2</p>
<p><b>Xmin-Xmax:</b> 21-53 mm</p>
<p><b>Ymin-Ymax:</b> 12-26 mm</p>
<p><b>Z eight:</b> 0.8 mm</p>


